<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="0"
      data-pages-sidebar-outlet="#sidebar-controller">
  <h4>
    <%= image_tag(@foundation.resize_image_logo(50,50)) if @foundation.image_logo.attached? %>
    <%= @foundation.long_name %>
  </h4>
  <div class="container">
    
    <div class="row">
      <div class="col-sm-12 col-lg-6 pb-3">
        <h5>Contributions made the last 3 months</h5>
        <%= line_chart charts_contribution_time_line_path(@foundation), width: "80%",
                          ytitle: "Contributions" %>
      </div>
      <div class="col-sm-12 col-lg-6 pb-3">
        <h5>Top Donors of the last 3 months</h5>
        <%= column_chart charts_top_donors_path(@foundation), width: '80%', 
                          ytitle: "Total Contributions", xtitle: "Donors" %>
      </div>
    </div>
    
  </div>
</div>
