<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="2"
      data-pages-sidebar-outlet="#sidebar-controller">

  <div class="card">
    <div class="card-header">
      <%= render "fdn/contributions/nav" %>
    </div>

    <div class="container py-3">
      <div class="row text-center">
        <div class="col"><h5>Grants</h5></div>
      </div>

      <div class="container-fluid mt-3">
        <%= render "new_button" %> 
        <%# Table Header %>
        <div class="row tb-header pt-1">
          <div class="col-sm-2">Date</div>
          <div class="col-sm-2 text-center">Check #</div>
          <div class="col-sm-2 text-center">Amt</div>
          <div class="col-sm-5">Organization</div>

          <div class="col-sm-1"></div>
        </div>
        <%# Table Content %>
        <%= render "grant_list", grants: @grants %>

      </div>

    </div>

  </div>
  
</div>
