<%= turbo_frame_tag Grant.new do %>
  <div class="row mb-2 align-items-center">

    <div class="col-sm-2 offset-sm-10 text-end">
      <%= link_to new_foundation_grant_path(@foundation), class: "btn btn-sm btn-outline-secondary" do %>
        <i class="bi bi-plus-circle pe-1"></i>New
      <% end %>
    </div>
  </div>
<% end %>
