<%= turbo_frame_tag Grant.new do %>
  <div class="card mb-2">
    <div class="card-header my-text-bg-secondary">
      New Grant Wizard for <span class="text-primary"><%= @grant.organization.name %></span>
    </div>
    <%= render "form", grant: @grant, form_url: foundation_grants_path(@foundation), show: "-1" %>

  </div>
<% end %>


