<div class="row mb-2 align-items-center">
  <div class="col-sm-8" data-controller="osearch" 
        data-osearch-sortmgmt-outlet="#organization-controller"
        data-osearch-create-value="<%= create %>">

    <div class="input-group">
      <input type="text" class="form-control form-control-sm" placeholder="Search ..." data-sortmgmt-target="query" data-action="keydown.enter->sortmgmt#filter">
      <button class="btn btn-sm btn-outline-secondary" type="button" data-action="click->sortmgmt#filter">Filter</button>
    </div>

  </div>
</div>
