<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="1"
      data-pages-sidebar-outlet="#sidebar-controller">

  <div class="card">
    <div class="card-header"><%= @organization.name %></div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col"><%= @organization.contact %></div>
          </div>
        </div>
        <div class="col-auto">
          <%= link_to foundation_organizations_path(@foundation), class: "btn btn-sm btn-outline-secondary text-start" do %>
            <i class="bi bi-folder-symlink pe-1"></i>Back to Organizations
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>