<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="0"
      data-pages-sidebar-outlet="#sidebar-controller">
  <h4><%= @foundation.long_name %></h4>
  <div class="container">
    This will contain items such as the upcoming commitments, the top donors for the month the top contributions for the month.
  </div>
</div>
