<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="0"
      data-pages-sidebar-outlet="#sidebar-controller">
<div class="container grid-striped">
  <div class="row grid">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>
  <div class="row grid">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>
  <div class="row grid">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>

</div>
  hello
</div>
