<div id="main_content">
<div class="container grid-striped">
  <div class="row grid">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>
  <div class="row grid">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>
  <div class="row grid">
    <div class="col">col1</div>
    <div class="col">col2</div>
  </div>

</div>
  hello
</div>
