<%= turbo_frame_tag Commitment.new do %>
  <div class="card mb-2">
    <div class="card-header my-text-bg-secondary">
      New Commitment Wizard for <span class="text-primary"><%= @commitment.organization.name %></span>
    </div>
    <%= render "form", commitment: @commitment, form_url: foundation_commitments_path(@foundation), show: "-1" %>

  </div>
<% end %>
