<table>
  <tr>
    <td>
      <%= image_tag(@foundation.resize_image_header(500, 80)) if @foundation.image_header.attached? %>
    </td>
    <td class="text-btm text-end">
      <%= title %>
    </td>
  </tr>
  <tr>
    <td colspan="2"><hr class="border pt-0 mb-2"></td>
  </tr>
</table>

