<%= turbo_frame_tag Contribution.new do %>
  <div class="card mb-2">
    <div class="card-header my-text-bg-secondary">
      New Contribution Wizard for <span class="text-primary"><%= @contribution.organization.name %></span>
    </div>
    <%= render "form", contribution: @contribution, form_url: foundation_contributions_path(@foundation), show: "-1" %>

  </div>
<% end %>


