<ul class="nav nav-underline">
  <li class="nav-item">
    <%= link_to "Grants", foundation_grants_path(@foundation), 
        class: "#{request.path == foundation_grants_path(@foundation)  ? "nav-link active" : "nav-link"}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Commitments", foundation_commitments_path(@foundation), 
        class: "#{request.path == foundation_commitments_path(@foundation)  ? "nav-link active" : "nav-link"}" %>
  </li>
</ul>
