
#sidebar {
  min-width: 250px;
  max-width: 250px;
  // background: #7386D5;
  background: #0d1949;
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
  // position: fixed;
  // top: 0;
  // left: 0;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .show-xl {
  display: none;
}

#sidebar .show-xl {
  display: inline;
}

#sidebar .list-group a.active {
  background: #006697;
}

#sidebar .list-group a:hover,
#sidebarCollapse:hover {
  color: #ffffff;
  background: #00B6B5;
}

#main_nav {
  background-color: #F9F7FF;
}

#main_nav a:hover {
  color: #006697;
  font-weight: 450;
  // background: #00B6B5;
}

@media (max-width: 768px) {
  #sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      // margin-left: -80px !important;
  }
  #sidebar.active {
      margin-left: 0 !important;
  }
  #sidebar .show-xl {
      display: none;
  }
}
