
/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

$dark-blue-color:    #0d1949;
$white-color:        #ffffff;
$blue-color:         #006697;
$light-blue-color:   #00B6B5;
$light-purple-color: #ECE7FF;
// $light-purple-color: #F9F7FF;
$dark-purple-color:  #662A63;
$my-purple:          #BDBAFA;
$my-dark-gray:       #464555;
$my-light-grey:      #eeee;




/*------------------------------------*\
  #UNAUTHENTICATED PAGES
\*------------------------------------*/

.secondary-main {
  background-color: $blue-900;
}

.primary-main {
  background-color: $gray-100;
}




/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

.primary-highlight {
  // color: $dark-blue-color;
  // color: #7C1924;
  color: $light-purple-color;
  font-weight: 550;
}

.my-text-bg-secondary {
  background-color: $light-purple-color;
  color: $black;
}

.tb-bg-dark {
  background-color: $my-light-grey;
}

.tb-bg-light {
  background-color: $white;
}


.tb-header {
  background-color: $my-light-grey;
  border-bottom: 2px solid $black;
  font-weight: bold;
}

.grid-striped .grid:nth-child(odd) {
    // background-color: rgba(0,0,0,.05);
    background-color: $my-light-grey;
  }


.my-dropdown-toggle::after {
  content: none;
}