
/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

$dark-blue-color:    #0d1949;
$white-color:        #ffffff;
$blue-color:         #006697;
$light-blue-color:   #00B6B5;
$light-purple-color: #ECE7FF;
// $light-purple-color: #F9F7FF;
$dark-purple-color:  #662A63;
$my-purple:          #BDBAFA;
$my-dark-gray:       #464555;




/*------------------------------------*\
  #UNAUTHENTICATED PAGES
\*------------------------------------*/

.secondary-main {
  background-color: $blue-900;
}

.primary-main {
  background-color: $gray-100;
}




/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

.primary-highlight {
  // color: $dark-blue-color;
  // color: #7C1924;
  color: $light-purple-color;
  font-weight: 550;
}

.my-text-bg-secondary {
  background-color: $light-purple-color;
  color: $black;
}