
/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

$dark-blue-color:    #0d1949;
$white-color:        #ffffff;
$blue-color:         #006697;
$light-blue-color:   #00B6B5;
$light-purple-color: #ECE7FF;
// $light-purple-color: #F9F7FF;
$dark-purple-color:  #662A63;
$my-purple:          #BDBAFA;
$my-dark-gray:       #464555;
$my-light-grey:      #eeee;




/*------------------------------------*\
  #UNAUTHENTICATED PAGES
\*------------------------------------*/

.secondary-main {
  background-color: $blue-900;
}

.primary-main {
  background-color: $gray-100;
}

.my-bg-gray {
  background-color: $gray-200;
}


/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

.primary-highlight {
  // color: $dark-blue-color;
  // color: #7C1924;
  color: $light-purple-color;
  font-weight: 550;
}

.my-text-bg-secondary {
  background-color: $light-purple-color;
  color: $black;
}

.tb-bg-dark {
  background-color: $my-light-grey;
}

.tb-bg-light {
  background-color: $white;
}

.tb-header {
  background-color: $my-light-grey;
  border-bottom: 2px solid $black;
  font-weight: bold;
}

.grid-striped .grid:nth-child(odd) {
    // background-color: rgba(0,0,0,.05);
    background-color: $my-light-grey;
  }

.my-small-text {
  font-size: small;
} 

.my-dropdown-toggle::after {
  content: none;
}

.my-table-row:hover{
  background-color: $my-light-grey;
}

.my-modal {
  position: fixed;
  z-index: 2;
  // padding: 2em;
  
  /* Centering */
  left: 50%;
  top: 15%;
  // transform: translate(-50%, -50%);

  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  /* Add the drop shadow */
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
  // backdrop-filter: blur(15px);
}