/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/
// change to .main-navbar
#main_nav {
  background-color: $light-purple-color;
}

#main_nav a:hover {
  color: $blue-color;
  font-weight: 450;
  // background: #00B6B5;
}



// foo > .bar {}
/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/
// change to .main-sidebar .main-sidebar-sm
#sidebar {
  min-width: 250px;
  max-width: 250px;
  // background: #7386D5;
  background: $dark-blue-color;
  color: $white-color;
  transition: all 0.3s;
  height: 100vh;
  // position: fixed;
  // top: 0;
  // left: 0;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .show-xl {
  display: none;
}

#sidebar .show-xl {
  display: inline;
}

#sidebar .list-group a.active {
  background: $blue-color;
}

#sidebar .list-group a:hover,
#sidebarCollapse:hover {
  color: $white-color;
  background: $light-blue-color;
}

@media (max-width: 768px) {
  #sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      // margin-left: -80px !important;
  }
  #sidebar.active {
      margin-left: 0 !important;
  }
  #sidebar .show-xl {
      display: none;
  }
}
