<div class="container py-1">
  <% flash.each do |name, msg| %>
    <div class="py-2 alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
      <div class="row">
        <div class="col-auto pe-1 ">
          <i class="<%= "fs-1 bi pe-2 bi-#{name == "notice" ? "info-circle" : "exclamation-triangle" }" %>"></i>
        </div>
        <div class="col ps-1 fs-6 lh-sm pt-2">
          <%= msg %>
        </div>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>