
<%= turbo_frame_tag "sidebar" do %>    
  <!-- Sidebar nav -->
  <div class="list-group pt-1">
    <%= link_to foundation_dashboard_path(foundation), class: "list-group-item",  
        "data-sidebar-target": "btn" do %>
      <i class="bi bi-speedometer2 me-2"></i>
      <span class="show-xl">Dashboard</span>
    <% end %>

    <!-- nav item -->
    <a href="#" class="list-group-item list-group-item-action" data-sidebar-target="btn" data-action="sidebar#organization">
        <i class="bi bi-buildings me-2"></i><span class="show-xl">Organizations</span>
    </a>    
    <!-- nav item -->
    <a href="#" class="list-group-item list-group-item-action" data-sidebar-target="btn" data-action="sidebar#contribution">
        <i class="bi bi-credit-card me-2"></i><span class="show-xl">Contributions</span>
    </a>
    <!-- nav item -->
    <a href="#" class="list-group-item list-group-item-action" data-sidebar-target="btn" data-action="sidebar#accounting">
        <i class="bi bi-bank me-2"></i><span class="show-xl">Accounting</span>
    </a>
    <!-- nav item -->
    <a href="#" class="list-group-item list-group-item-action" data-sidebar-target="btn" data-action="sidebar#report">
        <i class="bi bi-printer me-2"></i><span class="show-xl">Reports</span>
    </a>
    <!-- nav item --> 
    <%= link_to edit_foundation_path(foundation), class: "list-group-item list-group-item-action", 
                          "data-sidebar-target": "btn" do %>
      <i class="bi bi-gear me-2"></i>
      <span class="show-xl">Settings</span>
    <% end %>
    <!-- end nav items -->
  </div>
<% end %>