<div class="col-auto ms-2 pe-2" id="sidebar">        

    <div class="d-flex justify-content-center my-2" data-controller="sidebar">
      <button type="button" id="sidebarCollapse" data-action="click->sidebar#toggle" class="btn btn-outline-light">
          <span class="show-xl pe-2">Foundation</span><i class="bi bi-list"></i>
      </button>
    </div>

  <!-- Sidebar nav -->
  <div class="list-group pt-1" data-controller="sbnav" id="sbnav-controller">
    <%= link_to dashboard_path, class: "list-group-item", 
        "data-action": "click->sbnav#dashboard", 
        "data-sbnav-target": "btn" do %>
      <i class="bi bi-speedometer2 me-2"></i>
      <span class="show-xl">Dashboard</span>
    <% end %>

    <!-- nav item -->
    <div class="dropdown dropend">
      <a href="#" role="button" id="orgsubmenu" data-bs-toggle="dropdown" aria-expanded="false" class="list-group-item-action list-group-item dropdown-toggle" data-sbnav-target="btn" data-action="click->sbnav#organization">
          <i class="bi bi-buildings me-2"></i><span class="show-xl">Organizations</span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="orgsubmenu">
        <li>
            <a class="dropdown-item" href="#">New</a>
        </li>
        <li>
            <a class="dropdown-item" href="#">Manage</a>
        </li>
      </ul>
    </div>
    <!-- nav item -->
    <a href="#" class="list-group-item list-group-item-action" data-sbnav-target="btn" data-action="click->sbnav#contribution">
        <i class="bi bi-credit-card me-2"></i><span class="show-xl">Contributions</span>
    </a>
    <!-- nav item -->
    <a href="#" class="list-group-item list-group-item-action" data-sbnav-target="btn" data-action="click->sbnav#accounting">
        <i class="bi bi-bank me-2"></i><span class="show-xl">Accounting</span>
    </a>
    <!-- nav item -->
    <a href="#" class="list-group-item list-group-item-action" data-sbnav-target="btn" data-action="click->sbnav#report">
        <i class="bi bi-printer me-2"></i><span class="show-xl">Reports</span>
    </a>
    <!-- nav item -->
    <%= link_to users_path, class: "list-group-item list-group-item-action", 
                          "data-action": "click->sbnav#user", 
                          "data-sbnav-target": "btn" do %>

      <i class="bi bi-people me-2"></i>
      <span class="show-xl">User Accounts</span>
    <% end %>
    <!-- end nav items -->
  </div>
</div>